@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --background: 0 0% 100%;
    --foreground: 220 9% 46%;
    --card: 210 40% 98%;
    --card-foreground: 220 9% 46%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 46%;
    --primary: 188 91% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 98%;
    --secondary-foreground: 220 9% 46%;
    --muted: 210 40% 98%;
    --muted-foreground: 220 9% 46%;
    --accent: 84 81% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 0 0% 100%;
    --ring: 188 91% 35%;
    --chart-1: 188 91% 35%;
    --chart-2: 84 81% 44%;
    --chart-3: 210 40% 98%;
    --chart-4: 220 9% 46%;
    --chart-5: 0 84.2% 60.2%;
    --radius: 0.5rem;
    --sidebar-background: 210 40% 98%;
    --sidebar-foreground: 220 9% 46%;
    --sidebar-primary: 188 91% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 84 81% 44%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 188 91% 35%;
  }
  .dark {
    --background: 220 27% 8%;
    --foreground: 210 40% 98%;
    --card: 220 27% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 220 27% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 188 91% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 27% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 27% 12%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 84 81% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 27% 12%;
    --input: 220 27% 12%;
    --ring: 188 91% 35%;
    --chart-1: 188 91% 35%;
    --chart-2: 84 81% 44%;
    --chart-3: 210 40% 98%;
    --chart-4: 220 9% 46%;
    --chart-5: 0 84.2% 60.2%;
    --sidebar-background: 220 27% 8%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 188 91% 35%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 84 81% 44%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 27% 12%;
    --sidebar-ring: 188 91% 35%;
  }
}

* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}
